# PostgreSQL
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ticket_system
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Backend FastAPI App
SECRET_KEY=your_super_secret_key_change_me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Kafka (Optional)
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
