# FastAPI
fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary
alembic

# Pydantic & Settings
pydantic[email]
pydantic-settings

# Security
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Linters & Formatters
black
isort
flake8
